<mat-card>
  <mat-card-title> Get User Data </mat-card-title>

  <mat-card-content>
    <h4>Select an ID to get some user data from a RESTful API</h4>
    <mat-form-field appearance="fill">
      <mat-label>User Id</mat-label>
      <mat-select [(value)]="selectedID">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-flat-button (click)="getUserById(selectedID)">Generate User</button>
  </mat-card-actions>
</mat-card>

<mat-card>

  <mat-card-title>Current User</mat-card-title>
  <mat-card-content>
    <h3>Name: <span *ngIf="currentUser != null">{{currentUser.firstName}} {{currentUser.lastName}}</span></h3>
    <p>Date of Birth: <span *ngIf="currentUser != null">{{currentUser.DOB}}</span></p>
  </mat-card-content>

</mat-card>
